<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CombinedTransportSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XRouteWSBinding">
          <security mode="Transport" />
        </binding>
        <binding name="XLocateWSBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://xroute-tln-eu-n-test.cloud.ptvgroup.com/xroute/ws/XRoute"
          binding="basicHttpBinding" bindingConfiguration="XRouteWSBinding"
          contract="XRoute.XRouteWS" name="XRouteWSPort" />
      <endpoint address="https://xlocate-tln-eu-n-test.cloud.ptvgroup.com/xlocate/ws/XLocate"
          binding="basicHttpBinding" bindingConfiguration="XLocateWSBinding"
          contract="XLocate.XLocateWS" name="XLocateWSPort" />
    </client>
  </system.serviceModel>
    <applicationSettings>
        <CombinedTransportSample.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="XLocate" serializeAs="String">
                <value>https://xlocate-tln-eu-n-test.cloud.ptvgroup.com/xlocate/ws/XLocate</value>
            </setting>
            <setting name="XMap" serializeAs="String">
                <value>https://xmap-tln-eu-n-test.cloud.ptvgroup.com/xmap/ws/XMap</value>
            </setting>
            <setting name="XRoute" serializeAs="String">
                <value>https://xroute-tln-eu-n-test.cloud.ptvgroup.com/xroute/ws/XRoute</value>
            </setting>
            <setting name="SeachRange" serializeAs="String">
                <value>10000</value>
            </setting>
        </CombinedTransportSample.Properties.Settings>
    </applicationSettings>
</configuration>